.curseclient
.mixin.out/
/config/techresourcescrystal/
/libraries/
/ModTranslations/
/backups/
/crash-reports/
/debug/
/downloads/
/ESM/
/fancymenu_data/last_world.fmdata
/icon.png
/journeymap/
/local/
/logs/
/minecraftinstance.json
/moddata/
/options.txt
/patchouli_books/
/patchouli_data.json
/resourcepacks/
/rhino.local.properties
/saves/
/schematics/
/screenshots/
/profileImage/
/usercache.json
/mods/
/skyblockbuilder/
run.sh
user_jvm_args.txt
*.log
realms_persistence.json
TrashSlotSaveState.json
usernamecache.json
imgui.ini
eula.txt
reauth.toml
knownkeys.txt
config/powah.json5
.vscode/settings.json
*.bak
/scripts